<!--<h1 class="no-margin"><a class="field-name glyphicon" href="#" data-type="text" data-title="Edit field name"><%= name %></a></h1>-->
<!--<p class="no-margin"><a class="field-description glyphicon" href="#" data-type="text" data-title="Edit field description"><%= description %></a></p>-->
<h1 class="no-margin field-name"><%= name %></h1>
<p class="no-margin field-description"><%= description %></p>
<textarea  cols="80" rows="4" class="form-control field-body"><%= body %></textarea>
<br/>
<button class="btn btn-default btn-save-field pull-right">Save</button>