<!-- Header content -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">ez<span class="light">edit</span></h1>
                    <p class="intro-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate sollicitudin urna in hendrerit.</p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About ez<span class="light">edit</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate sollicitudin urna in hendrerit. Nunc quis leo non libero dapibus cursus. Nam porta feugiat semper. Vivamus molestie vehicula nisi, non dapibus ex pharetra mattis. Nunc ornare nulla elit, at feugiat purus consectetur vel. Sed ultricies venenatis tortor porttitor imperdiet. Duis a placerat diam. Donec pretium, turpis in porta auctor, mauris est venenatis leo, quis tempus dui lectus non felis.</p>
        </div>
    </div>
</section>

<!-- Try Section -->
<section id="try" class="container image-section content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Try ez<span class="light">edit</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate sollicitudin urna in hendrerit. Nunc quis leo non libero dapibus cursus. Nam porta feugiat semper. Vivamus molestie vehicula nisi, non dapibus ex pharetra mattis. Nunc ornare nulla elit, at feugiat purus consectetur vel. Sed ultricies venenatis tortor porttitor imperdiet. Duis a placerat diam. Donec pretium, turpis in porta auctor, mauris est venenatis leo, quis tempus dui lectus non felis.</p>
        </div>
    </div>
</section>