<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <table class="table">
                <tr>
                    <td>
                        <h2>Your Sites</h2>
                    </td>
                    <td class="new-site-btn-container"><a class="btn btn-default pull-right" href="#">+Add New Site</a></td>
                </tr>
            </table>
            <table id="sites-table" class="table table-striped">
                <tr><td class="table-label"><a href="#">dogs.com</a></td><td><a class="btn-site-edit pull-right btn btn-default" href="#">Edit</a></td></tr>
                <tr><td class="table-label"><a href="#">dogs.com</a></td><td><a class="btn-site-edit pull-right btn btn-default" href="#">Edit</a></td></tr>
                <tr><td class="table-label"><a href="#">dogs.com</a></td><td><a class="btn-site-edit pull-right btn btn-default" href="#">Edit</a></td></tr>
                <tr><td class="table-label"><a href="#">dogs.com</a></td><td><a class="btn-site-edit pull-right btn btn-default" href="#">Edit</a></td></tr>
                <tr><td class="table-label"><a href="#">dogs.com</a></td><td><a class="btn-site-edit pull-right btn btn-default" href="#">Edit</a></td></tr>
                <tr><td class="table-label"><a href="#">dogs.com</a></td><td><a class="btn-site-edit pull-right btn btn-default" href="#">Edit</a></td></tr>
                <tr><td class="table-label"><a href="#">dogs.com</a></td><td><a class="btn-site-edit pull-right btn btn-default" href="#">Edit</a></td></tr>
                <tr><td class="table-label"><a href="#">dogs.com</a></td><td><a class="btn-site-edit pull-right btn btn-default" href="#">Edit</a></td></tr>
            </table>
        </div>
    </div>
</div>