<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Instructions</h2>
            <p>Include the following script tag on any page you want to populate with these fields. Add the attribute <code>data-ezedit-field</code> with a value matching the name of a field to elements you want to fill with the field text.</p>
            <p><code>&lt;script src="ezedit.com/api/sites/42069/ezedit.js"&gt;&lt;/script&gt;</code></p>
            <br/>
            <table class="table">
                <tr>
                    <td>
                        <h2>Fields</h2>
                    </td>
                    <td class="new-field-btn-container"><a class="btn btn-default btn-new-field pull-right" href="#">+Add New Field</a></td>
                </tr>
            </table>
            <div id="new-field">
                <form>
                    <div class="form-group">
                        <label for="fieldName">Field Name</label>
                        <input type="text" class="form-control" id="fieldName" placeholder="Field Name" required>
                    </div>
                    <div class="form-group">
                        <label for="fieldDescription">Field Description</label>
                        <input type="text" class="form-control" id="fieldDescription" placeholder="Field Description" required>
                    </div>
                    <div class="form-group">
                        <label for="fieldBody">Field Body</label>
                        <textarea class="form-control" id="fieldBody" placeholder="Field Body" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Create</button>
                </form>
            </div>
            <div id="fields-container"></div>
        </div>
    </div>
</div>