<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Instructions</h2>
            <p>Include the following script tag on any page you want to populate with these fields. Add the attribute <code>data-ezedit-field</code> with a value matching the name of a field to elements you want to fill with the field text.</p>
            <p><code>&lt;script src="ezedit.com/api/sites/42069/ezedit.js"&gt;&lt;/script&gt;</code></p>
            <br/>
            <table class="table">
                <tr>
                    <td>
                        <h2>Fields</h2>
                    </td>
                    <td class="new-field-btn-container"><a class="btn btn-default pull-right" href="#">+Add New Field</a></td>
                </tr>
            </table>
            <div id="fields-container"></div>
        </div>
    </div>
</div>